.searchfilter-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.searchfilter-header {
  width: 100%;
  height: auto;
  background: blue;
  padding: 2em;
}

.searchfilter-main {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: red;
  padding: 1em;

}
