@import '../../index';

.SingleTestimony {

  .SingleTestimonyInputs {
    .none {
      border: none;
    }

    .showInput {
      border: 1px solid black;
    }
  }

  .SingleTestimonyLoggedIn {
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
    background: black;

  }
}
