@import '../../index';

.ProfileThumb {
  display: flex;
  align-items: center;

  img {
    width: 8em;
    height: 8em;
    border-radius: $border-radius;
    margin-right: .5em;
  }

  .ProfileThumbDetails {
    display: flex;
    flex-direction: column;

    h2 {
      font-weight: bolder;
    }
  }
}
