@import 'Reset';

// @font-face {
//   font-family: "Blueberry";
//   src: url("./media/Blueberry.otf") format("otf"),
//        url("./media/Blueberry.ttf") format("ttf");
// }

$font-stack:    Helvetica, sans-serif;
$primary-color: #d32323;
$secondary-color: #f5f5f5;
$homepage-image: '../../../media/turkey.jpg';
$input-bColor: #fff;
$border-radius: 3px;
$secondary-width: 70%;


body {
    font-family: $font-stack;
}
